
version: '3.8'

services:
  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception_network
    restart: always

  wordpress:
    build: requirements/wordpress
    container_name: wordpress
    env_file: .env
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - mariadb
    restart: always

  nginx:
    build: requirements/nginx
    container_name: nginx
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - wordpress
    restart: always

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: /home/ktakeru/data/mysql
      o: bind
  wp_data:
    driver: local
    driver_opts:
      type: none
      device: /home/ktakeru/data/wordpress
      o: bind

networks:
  inception_network:
    driver: bridge
